//Mixins
@mixin small {
  @media (min-width: 768px) {
    @content;
  }
}


//Styles
* {
 box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0
}
h1, h2, h3, h4, h5 {
  font-weight: 300;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  @extend %clearfix
}

%clearfix {
  &:after, &:before {
    clear: both;
    display: table;
    content: '';
  }
}

// Component Search
.searchContainer {
  text-align: center;
  padding: 5px;
  background: green;
  opacity: 0.9;

  @include small {
    padding: 20px;
  }
}



//Pokemon component
//Popap z info o Pokemonach

.pokemonContainer {
  background: greenyellow;
  position: fixed;
  padding: 18px;
  border: 2px solid grey;
  border-radius: 12px;

}

.pokemonContainer span {
  float: right;
  font-size: 30px;
  cursor: pointer;
}

.pokemonContainer span:hover {
  float: right;
  font-size: 30px;
  color: red;
  font-weight: 600;
  animation: 1s skret linear infinite alternate;

}

@-webkit-keyframes skret {
  0% {

    transform: skew(-10deg);
  }
  20% {

    transform: skew(5deg);
  }
  40% {
    transform: skew(10deg);
  }
  60% {
    transform: skew(15deg);
    background-color: coral;
  }
  80% {
    transform: skew(20deg);
    background-color: coral;
  }
}


//Przycisk do wyłączania popapa
.pokemonContainer {

}

//Footer component
.footerContainer {
  text-align: center;
  padding: 5px;
  background: green;
  @include small {
    padding: 20px;
  }
}


//Header component
.headerContainer {
  text-align: center;
  padding: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background: url("../images/background3.png");

}

.headerContainer h1 {
  font-size: 50px;
  font-weight: bolder;
}

.headerContainer p {
  font-size: 20px;
  font-weight: bold;
  color: black;
}