* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: url("../images/firewall3.png"); }

h1, h2, h3, h4, h5 {
  font-weight: 300; }

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }

.container:after, .container:before {
  clear: both;
  display: table;
  content: ''; }

.pokemonsList {
  padding: 0;
  list-style: none;
  text-transform: capitalize;
  font-size: 18px;
  color: #dffff7;
  font-weight: bold;
  text-shadow: 3px 1px 9px #000; }
  .pokemonsList li {
    cursor: pointer;
    display: block;
    padding: 33px;
    background: #67dd30;
    transition: 1s all;
    border: 1px solid white;
    border-radius: 24px;
    text-align: center; }
    @media (min-width: 768px) {
      .pokemonsList li {
        padding: 20px; } }
    .pokemonsList li:hover {
      background: #3cbc00; }

.pokemonContainer {
  background: #57ff7b;
  position: fixed;
  padding: 18px;
  border: 2px solid grey;
  border-radius: 12px;
  top: 20%;
  right: 7%; }
  .pokemonContainer span {
    float: right;
    font-size: 30px;
    cursor: pointer; }
  .pokemonContainer img {
    border: 1px solid white;
    border-radius: 24px;
    margin-left: 30px;
    margin-top: 12px; }

.pokemonContainer span:hover {
  float: right;
  font-size: 30px;
  color: red;
  font-weight: 600;
  animation: 1s skret linear infinite alternate; }

@-webkit-keyframes skret {
  0% {
    transform: skew(-10deg); }
  20% {
    transform: skew(5deg); }
  40% {
    transform: skew(10deg); }
  60% {
    transform: skew(15deg);
    background-color: coral; }
  80% {
    transform: skew(20deg);
    background-color: coral; } }
.pokeName {
  text-transform: capitalize; }

.footerContainer {
  text-align: center;
  padding: 5px;
  background: #35e474; }
  @media (min-width: 768px) {
    .footerContainer {
      padding: 20px; } }

.headerContainer {
  text-align: center;
  position: relative;
  overflow: hidden; }
  .headerContainer .headerContent {
    position: absolute;
    width: 100%;
    top: 3%; }
    .headerContainer .headerContent h1 {
      font-size: 50px;
      font-weight: bold;
      color: #595959; }
    .headerContainer .headerContent p {
      font-size: 28px;
      font-weight: bold;
      color: white;
      text-shadow: 3px 1px 9px #000, 4px 7px 9px #69ff23; }
  .headerContainer img {
    position: relative;
    left: -13%; }
  @media (min-width: 1200px) {
    .headerContainer {
      width: 100%;
      left: 0; } }
  .headerContainer .searchContainer {
    text-align: center;
    padding: 5px;
    background: #35e474;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    bottom: 1%; }
    @media (min-width: 768px) {
      .headerContainer .searchContainer {
        padding: 11px; } }
    .headerContainer .searchContainer input {
      padding: 2px 14px;
      line-height: 30px; }

.subheading {
  display: none; }
  @media (min-width: 768px) {
    .subheading {
      font-size: 14px;
      color: #595959;
      display: block;
      border: 1px solid white;
      background-color: #00ffffb0;
      border-radius: 24px; }
      .subheading h2, .subheading p {
        margin-left: 18px; } }

.scrollContainer button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #ff5b05;
  color: white;
  cursor: pointer;
  padding: 14px;
  border-radius: 10px; }
  .scrollContainer button:hover {
    background-color: #555; }

/*# sourceMappingURL=styles.css.map */
